name: Nix

on:
  push:
  workflow_dispatch:

permissions:
  id-token: "write"
  contents: "read"

env:
  NIX_ABORT_ON_WARN: "1"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-24.04"
          - "ubuntu-24.04-arm"
          - "macos-15"

    runs-on: ${{ matrix.os }}

    steps:
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            accept-flake-config = true
            allow-import-from-derivation = false
            allowed-impure-host-deps = /System/Library /bin/sh /dev /usr/lib /Applications /bin /usr/bin /usr/share/man

      - uses: cachix/cachix-action@v16
        with:
          name: josh
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Check flake
        run: |
          nix flake check --keep-going --print-build-logs github:${{ github.repository }}/${{ github.sha }}
